# Copyright (c) 2017 - 2020 TomTom N.V. All rights reserved.
#
# This software is the proprietary copyright of TomTom N.V. and its subsidiaries and may be
# used for internal evaluation purposes or commercial use strictly subject to separate
# licensee agreement between you and TomTom. If you are the licensee, you are only permitted
# to use this Software in accordance with the terms of your license agreement. If you are
# not the licensee, then you are not authorized to use this software in any manner and should
# immediately return it to TomTom N.V.

Checks: '-*,readability-identifier-naming'

CheckOptions:
  - { key: readability-identifier-naming.ClassCase,             value: CamelCase }
  - { key: readability-identifier-naming.FunctionCase,          value: CamelCase }
  - { key: readability-identifier-naming.VariableCase,          value: lower_case }
  - { key: readability-identifier-naming.ParameterCase,         value: lower_case }
  - { key: readability-identifier-naming.GlobalConstantCase,    value: camelBack }
  - { key: readability-identifier-naming.StaticConstantCase,    value: camelBack }
  - { key: readability-identifier-naming.ConstexprVariableCase, value: camelBack }

HeaderFilterRegex: '.*/(src/[^/]*|include/)\.hpp'
